.v-data-table {
    width: 1000px;
}
.content {
    height: 250px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.row {
    flex: none;
}